# Database
DATABASE_URL="file:./dev.db"

# NextAuth.js
NEXTAUTH_SECRET="BN96vzpfOLyWNFiBrFn7JRhq4VvYO0q09jGa5rTAJOY="
NEXTAUTH_URL="http://localhost:3000"

# Facebook OAuth (para Instagram)
FACEBOOK_CLIENT_ID="830832649478865"
FACEBOOK_CLIENT_SECRET="febc47422e15536ffb4e9197300092ff"

